@font-face{
	font-family: Miratrix;
	font-display: swap;
	src: url("../fonts/Miratrix-Normal.woff2") format("woff2"),url("../fonts/Miratrix-Normal.woff") format("woff");
	font-weight: 400;
	font-style: normal;
} 
@font-face{
	font-family: Veles;
	font-display: swap;
	src: url("../fonts/Veles-Bold.woff2") format("woff2"),url("../fonts/Veles-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
} 
@font-face{
	font-family: Veles;
	font-display: swap;
	src: url("../fonts/Veles-Regular.woff2") format("woff2"),url("../fonts/Veles-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
} 
